<div class="row">
	<div class="col s12">
	<h2>#<%= tag.name %></h2>

	<h4>Tracks associated with #<%= tag.name %></h4>

	<% tag.tracks.forEach(function(t) { %>
		<div class="divider"></div>
		<div class="section">
			<a href="/tracks/<%= t.id %>">
				<%= t.title %>
			</a>		
		</div>
	<% }); %>
	</div>
</div>

<a href="/tags/edit/<%= tag.id %>" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Wanna edit the tag?</a>

<a href="/tags/<%= tag.id %>" class="waves-effect waves-light btn"><i class="material-icons left">delete</i>Delete</a>