<div class="container">
	<div class="row">
		<div class="col s6">
			<h2>
				<%= track.title %>
			</h2>
		</div>
		<div class="col s3">
			<h5>By:<%= track.user.firstname %></h5>
		</div>
		<div class="col s3">
			<img class="responsive-img" src="<%= track.albumArt %>">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col s6">
			<h3>
				<%= track.artist %>
			</h3>
		</div>
		<div class="col s6">
			<video 
			src="<%= track.trackUrl %>"
			controls
		 	autoplay
		 	class="cld-video-player">
		 	</video>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col s8">
			<p>
				<%= track.content %>
			</p>
		</div>
		<div class="col 4">
			<h5>Tags</h5>
			<% if(track.tags && track.tags.length > 0) { %>
				<% track.tags.forEach(function(t) { %>
					<a href="/tags/<%= t.id %>">#<%= t.name %></a>
				<% }); %>
			<% } else { %>
				<p>No tags yet!</p>
			<% } %>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="">
			
		</div>
	</div>
</div>